<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <nav id="main-navbar">
        <a href="/" id="home-button">Home</a>
        <ul>
          <% if session[:username] %>
            <li>
              <a href="/articles/new">
                New Article
              </a>
            </li>
          <% else %>
            <li>
              <a href="/login">
                Log In
              </a>
            </li>
            <li>
              <a href="/signup">
                Sign Up
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    <%= yield %>
  </body>
</html>
